// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

textarea {
    height: 300px !important;
}

.img-preview-container_create {
    display: none;
}

.img-preview-container_create.visible {
    display: block;
}
