// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// FontAwesome
@import '@fortawesome/fontawesome-free/css/all.css';

textarea {
    height: 300px !important;
}

.img-preview-container.create {
    display: none;
}

.img-preview-container.edit {
    display: block;
}

.img-preview-container.create.visibility {
    display: block;
}

img {
    width: 100%;
    object-fit: contain;
}
